{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <script src="https://kit.fontawesome.com/f51a04bc22.js"></script>

   
  
  <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>

  <div class="container">
    <div class="card">
      <div class="front">
        <div class="hat"><i class="flaticon-chef-hat"></i></div>
      </div>
      <div class="back">
            <h1>FOODR<span> <i>&</i> Share!</span></h1>
                  
  <div class="form-group">
    <label for="exampleInputEmail1">Name:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Quantity:</label>
    <input type="number" min="1" max="50" class="form-control" id="exampleInputPassword1" placeholder="Quantity">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
  
  
<div class="container">
        <div class="card">
          <div class="front">
            <div id="eat">
              <div class="utensils"><i class="fas fa-utensils"></i></div>
              <p id="eat-up">Ready to Eat</p>
            </div>
          </div>
          <div class="back">
            <h1>FoodR<span>Make a Meal <i>&</i> Share</span></h1>
            <ul>
              <a href="https://github.com/trynyen/project2"><li>GitHub Repo</li></a>
              <a href="survey.html"><li>Click to Eat</li></a>
              <a class= hazard href="https://www.youtube.com/watch?v=TzXXHVhGXTQ"><li>Warning!</span></li></a>
              </ul>
          </div>
          </div>
        </div>
        

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/home.js"></script>
  
</body>
</html>
{{!-- 
<div class="container">
  <div class="card">
    <div class="front">
      <div class="logo"><span></span></div>
          <div class="back">
            <h1>Friend Finder<span>Dating Made Easy <i>&</i> Fun</span></h1>
            <ul>
              <a href="https://github.com/rofajardo96/FriendFinder"><li>GitHub Repo</li></a>
              <a href="survey.html"><li>Survey</li></a>
              <a class= hazard href="https://www.youtube.com/watch?v=TzXXHVhGXTQ"><li>Warning!</span></li></a>
              </ul>
          </div>
    </div>
  </div>
</div>
<div class="container">
        <div class="card">
          <div class="front">
            <div class="logo"><span></span></div>
          </div>
          <div class="back">
            <h1>Friend Finder<span>Dating Made Easy <i>&</i> Fun</span></h1>
            <ul>
              <a href="https://github.com/rofajardo96/FriendFinder"><li>GitHub Repo</li></a>
              <a href="survey.html"><li>Survey</li></a>
              <a class= hazard href="https://www.youtube.com/watch?v=TzXXHVhGXTQ"><li>Warning!</span></li></a>
              </ul>
          </div>
          </div>
        </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
