
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{{!-- <link rel="stylesheet" href="./styles/styles.css"> --}}
{{!-- </head> --}}
<div class="body1">



<nav>
   <div class="navbar">
     {{!-- <a href=“#!” class=“brand-logo”><i class=“material-icons”>cloud</i>Logo</a> --}}
     <a class="text-light user" href="/user"><i class="far fa-user"></i></a>
     <a href="/logout" class="logout"><span class="navbar-text text-light logout-text">Log Out</span></a>
   </div>
</nav>

<div class="container">
    <div class="card">
        <div class="front">
            <div id="eat">
              <div class="utensils"><i class="fas fa-utensils"></i></div>
              <p id="eat-up">Make a Meal</p>
            </div>
        </div>
        <div class="back">

          {{!-- <h1>TIME TO <span> <i></i> Share!</span></h1> --}}
          {{!-- <h1>Time to Share!</h1> --}}
          <div class="make-meal-form">
             <div class="form-group">
                {{!-- <label for="exampleInputEmail1"></label> --}}
                <input type="email" class="form-control" id="meal-name" aria-describedby="emailHelp" placeholder="What are you making?">
            </div>
            <div class="form-group">
                {{!-- <label for="exampleInputPassword1"></label> --}}
                <input type="number" min="1" max="50" class="form-control" id="quantity" placeholder="Quantity">
            </div>
             <div class="form-group">
                {{!-- <label for="exampleInputEmail1"></label> --}}
                <input type="email" class="form-control" id="phone1" aria-describedby="emailHelp" placeholder="Phone Number">
            </div>
             <div class="form-group">
                {{!-- <label for="exampleInputEmail1"></label> --}}
                <input type="email" class="form-control" id="zip" aria-describedby="emailHelp" placeholder="Enter Zipcode">
            </div>
            <div class="form-group">
                {{!-- <label for="exampleInputEmail1"></label> --}}
                <input type="text" class="form-control" id="image" aria-describedby="emailHelp" placeholder="Upload an image">
            </div>
            </div>
            <button type="submit" class="btn btn-primary" id="make">Make</button>
        </div>
    </div>
</div>
  
  
<div class="container">
    <div class="card2">
        <div class="front">
            <div id="eat">
              <div class="utensils"><i class="fas fa-utensils"></i></div>
              <p id="eat-up">Ready to Eat</p>
            </div>
        </div>
        <div class="back" id="et">
            <h1 class="eatMe">Find a meal<span> <i></i> NOW!</span></h1>
                    
           
    </div>
</div>

      <script src="https://kit.fontawesome.com/f51a04bc22.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
    <script src="/js/home.js"></script>

    <script src="/js/make.js"></script> 
  

