
email:
<input type="text" id="email">
password:
<input type="text" id="password">

<button type="submit" id="submit">Log In</button>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
