<h1>Make a Meal Page</h1>

<div>
    What Are You Making?
    <input type="text" id="meal-name">
</div>
<div>
  How Many Servings?
  <input type="text" id="quantity">
</div>
<div>
  Location Zip Code?
  <input type="text" id="zip">
</div>
<div>
  phone: (<input type="text" id="phone1">) <input type="text" id="phone2"> - <input type="text" id="phone3">
</div>
<div>
<button type="submit" id="make">Post Meal</button>
</div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/make.js"></script>
