{{!-- The logic/js file for this page has not been created. 
I'm just trying to think ahead about what this page would look like --}}

<table class="table">
    <thead> 
        <th>Meal ID</th>
        <th>Meal Name</th> 
        <th>Quantity</th> 
        <th>Date Made</th> 
    </thead> 
    <tbody> 
        {{#Meal}} 
        <tr> 
            <td>{{id}}</td>
            <td>{{name}}</td> 
            <td>{{quantity}}</td> 
            <td>{{createdAt}}</a></td> 
        </tr> 
        {{/Meal}} 
    </tbody> 
</table> 